@font-face {
  font-family: "iconfont"; /* Project id 2981779 */
  src: url('./iconfont.woff2?t=1656555639528') format('woff2'),
       url('./iconfont.woff?t=1656555639528') format('woff'),
       url('./iconfont.ttf?t=1656555639528') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-maichu:before {
  content: "\e60c";
}

.icon-close1:before {
  content: "\ea28";
}

.icon-logout-box-r-line:before {
  content: "\ea27";
}

.icon-tishi:before {
  content: "\e6bf";
}

.icon-jrxzkh:before {
  content: "\ea1d";
}

.icon-ljkh:before {
  content: "\ea1e";
}

.icon-ytx:before {
  content: "\ea1f";
}

.icon-byxzkh:before {
  content: "\ea20";
}

.icon-jrsc:before {
  content: "\ea21";
}

.icon-bysc:before {
  content: "\ea22";
}

.icon-jrsr:before {
  content: "\ea23";
}

.icon-bysr:before {
  content: "\ea24";
}

.icon-ljsr:before {
  content: "\ea25";
}

.icon-tongji:before {
  content: "\e647";
}

.icon-huo-red:before {
  content: "\ea26";
}

.icon-huo:before {
  content: "\e6a0";
}

.icon-rmsd:before {
  content: "\ea1c";
}

.icon-icon_renyuanguanlida:before {
  content: "\e654";
}

.icon-ri_stock-fill:before {
  content: "\ea1b";
}

.icon-phone:before {
  content: "\e6c2";
}

.icon-erweima:before {
  content: "\e98d";
}

.icon-ic_round-photo-camera:before {
  content: "\ea16";
}

.icon-wechat-fill:before {
  content: "\ea14";
}

.icon-whatsapp-fill:before {
  content: "\ea15";
}

.icon-wechat-fill-copy:before {
  content: "\ea17";
}

.icon-whatsapp-fill-copy:before {
  content: "\ea18";
}

.icon-arrow-left-circle2:before {
  content: "\ea12";
}

.icon-arrow-left-circle:before {
  content: "\ea13";
}

.icon-a-zixun-21:before {
  content: "\ea10";
}

.icon-a-yingyongziliao1:before {
  content: "\ea0f";
}

.icon-thumbs-on:before {
  content: "\ea0e";
}

.icon-more-system:before {
  content: "\ea0d";
}

.icon-ri_coupon-fill:before {
  content: "\ea0c";
}

.icon-ant-design_eye-outlined:before {
  content: "\ea09";
}

.icon-agree:before {
  content: "\ea0a";
}

.icon-eye-off:before {
  content: "\ea0b";
}

.icon-bx_bxs-bell:before {
  content: "\ea08";
}

.icon-link-white:before {
  content: "\ea11";
}

.icon-link:before {
  content: "\ea06";
}

.icon-x-circle:before {
  content: "\ea07";
}

.icon-copy-pink:before {
  content: "\ea1a";
}

.icon-checked:before {
  content: "\ea00";
}

.icon-entypo_switched:before {
  content: "\ea01";
}

.icon-copy:before {
  content: "\ea02";
}

.icon-entypo_switch:before {
  content: "\ea03";
}

.icon-camera:before {
  content: "\ea04";
}

.icon-twitch:before {
  content: "\ea05";
}

.icon-copy-copy:before {
  content: "\ea19";
}

.icon-star:before {
  content: "\e9fb";
}

.icon-Frame:before {
  content: "\e9fc";
}

.icon-settings:before {
  content: "\e9fd";
}

.icon-bell:before {
  content: "\e9f8";
}

.icon-filter:before {
  content: "\e9f9";
}

.icon-edit:before {
  content: "\e9fa";
}

.icon-follow-gray:before {
  content: "\e9ff";
}

.icon-follow:before {
  content: "\e9f6";
}

.icon-Alipay:before {
  content: "\e9f3";
}

.icon-check:before {
  content: "\e9f4";
}

.icon-wechat-payment:before {
  content: "\e9f5";
}

.icon-lock:before {
  content: "\e9f2";
}

.icon-main:before {
  content: "\e9eb";
}

.icon-close:before {
  content: "\e9ec";
}

.icon-chip:before {
  content: "\e9ed";
}

.icon-opportunity:before {
  content: "\e9ee";
}

.icon-rise-price:before {
  content: "\e9ef";
}

.icon-tuyere:before {
  content: "\e9f0";
}

.icon-top-list:before {
  content: "\e9f1";
}

.icon-hexin:before {
  content: "\e9e7";
}

.icon-yanbao:before {
  content: "\e9e8";
}

.icon-jiankong:before {
  content: "\e9e9";
}

.icon-fenxian:before {
  content: "\e9ea";
}

.icon-weibo:before {
  content: "\e9e5";
}

.icon-weibo-1:before {
  content: "\e9e6";
}

.icon-back:before {
  content: "\e9df";
}

.icon-chevron-right:before {
  content: "\e9e0";
}

.icon-more-horizontal:before {
  content: "\e9e1";
}

.icon-pengyouquan:before {
  content: "\e9e2";
}

.icon-QQ:before {
  content: "\e9e3";
}

.icon-QQzone:before {
  content: "\e9e4";
}

.icon-back-white:before {
  content: "\e9fe";
}

.icon-cast1:before {
  content: "\e9dd";
}

.icon-logo-on:before {
  content: "\e9de";
}

.icon-cast-on-gray:before {
  content: "\e9f7";
}

.icon-chart-on:before {
  content: "\e9d7";
}

.icon-chart:before {
  content: "\e9d8";
}

.icon-cast-on:before {
  content: "\e9d9";
}

.icon-user-on:before {
  content: "\e9da";
}

.icon-user:before {
  content: "\e9db";
}

.icon-logo:before {
  content: "\e9dc";
}

.icon-eye:before {
  content: "\e9d4";
}

.icon-thumbs-up:before {
  content: "\e9d5";
}

.icon-share:before {
  content: "\e9d6";
}

.icon-fire:before {
  content: "\e9d1";
}

.icon-rise:before {
  content: "\e9d2";
}

.icon-cast:before {
  content: "\e9d3";
}

.icon-zmdi_time-interval:before {
  content: "\e9ce";
}

.icon-date:before {
  content: "\e9cd";
}

.icon-report:before {
  content: "\e9cc";
}

.icon-search:before {
  content: "\e9cb";
}

